body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.fas {
    padding: 5%;
    height: 20%;
    width: 100%;
}
.col p {
    text-align: justify;
    text-justify: inter-word;
}

  /*TEST NAVBAR*/
  body{min-height:200vh;}
.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#000;
}